.block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;

}
.control {
    flex-basis: content;
}
.list {
    flex-basis: content;
}
.task {
    display: flex;
    align-items: baseline;
}
.status {
    margin-left: 20px;
}
.complited {
    text-decoration: line-through;
}
