.block {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
}
.control {
    display: flex;
    justify-content: space-between;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.status {
    margin-left: 20px;
}
.complited {
    text-decoration: line-through;
}

p {
    width: 60%;
    word-break:break-all;
}
